flow.json
[{"id":"c201f6c2.f0de18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8dc92c32.854eb","type":"subflow","name":"format uptime:  hh h mm min ss sec","info":"","in":[{"x":140,"y":160,"wires":[{"id":"5da21d50.12995c"}]}],"out":[{"x":660,"y":160,"wires":[{"id":"5da21d50.12995c","port":0}]}],"inputLabels":["uptime"],"outputLabels":["formatted uptime"]},{"id":"5da21d50.12995c","type":"function","z":"8dc92c32.854eb","name":"format uptime:  hh h mm min ss sec","func":"//hours\n\nvar h = Math.floor(msg.payload.uptime/3600) ;\n\n//rest minutes\nvar mm = msg.payload.uptime % 3600\n\n//minutes\nvar m = Math.floor(mm/60);\n\n//seconds\nvar s = (mm % 60);\n\n//uptime as string \nmsg.payload = \"uptime: \" +\n              h +\n              \" h \" +\n              m +\n              \"min \" +\n              s +\n              \"sec\";\nreturn msg; ","outputs":"1","noerr":0,"x":420,"y":160,"wires":[[]]},{"id":"c86c5905.8fd14","type":"Uptime","z":"c201f6c2.f0de18","name":"","x":300,"y":100,"wires":[["6d8f9180.45b2a"]]},{"id":"f67d2959.98a93","type":"inject","z":"c201f6c2.f0de18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["c86c5905.8fd14"]]},{"id":"b0dd4053.7c9e48","type":"debug","z":"c201f6c2.f0de18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":100,"wires":[]},{"id":"6d8f9180.45b2a","type":"subflow:8dc92c32.854eb","z":"c201f6c2.f0de18","name":"","x":560,"y":100,"wires":[["b0dd4053.7c9e48"]]},{"id":"f5d2ccd7.e7458","type":"change","z":"c201f6c2.f0de18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \t    \"topic\": topic, \t    \"status\": status,\t    \"payload\": payload, \t    \"timestamp\": timestamp,\t    \"_msgid\": _msgid\t  } ","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"\"RFX/\" & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":320,"wires":[["b1f450b2.4fc688"]]},{"id":"b1f450b2.4fc688","type":"debug","z":"c201f6c2.f0de18","name":"","active":true,"tosidebar":true,"console":true,"complete":"true","x":590,"y":280,"wires":[]},{"id":"5eb2751f.2a91e4","type":"moment","z":"c201f6c2.f0de18","name":"Insert Timestamp","topic":"","input":"","inputType":"date","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_GB","output":"timestamp","outputType":"msg","outTz":"Europe/London","x":230,"y":320,"wires":[["f5d2ccd7.e7458"]]},{"id":"86268567.ad812","type":"inject","z":"c201f6c2.f0de18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["5eb2751f.2a91e4"]]},{"id":"fe4ab5a7.a6e858","type":"comment","z":"c201f6c2.f0de18","name":"payload","info":"","x":270,"y":400,"wires":[]},{"id":"7b9041ec.796698","type":"comment","z":"c201f6c2.f0de18","name":"$globalContext(\"someGlobal\").Element[name='element1']","info":"","x":430,"y":500,"wires":[]},{"id":"4a5c86a1.8b636","type":"comment","z":"c201f6c2.f0de18","name":"$globalContext(\"someGlobal\").Element[name=payload]","info":"","x":420,"y":600,"wires":[]},{"id":"19be2591.e0a7ca","type":"inject","z":"c201f6c2.f0de18","name":"","topic":"","payload":"element1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":440,"wires":[["3ff304ef.12eefc","ded4e202.099ce8","1a399e4a.176712"]]},{"id":"3ff304ef.12eefc","type":"change","z":"c201f6c2.f0de18","name":"Get name in payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":440,"wires":[["3cbb087f.0a5fd8"]]},{"id":"ded4e202.099ce8","type":"change","z":"c201f6c2.f0de18","name":"Get element by name in payload","rules":[{"t":"set","p":"$$.payload","pt":"msg","to":"$globalContext(\"someGlobal\").Element[name='element1']","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":540,"wires":[["44574c2.f96da34"]]},{"id":"1a399e4a.176712","type":"change","z":"c201f6c2.f0de18","name":"Get element by hardcoded name","rules":[{"t":"set","p":"$$.payload","pt":"msg","to":"$globalContext(\"someGlobal\").Element[name=$$.payload]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":640,"wires":[["ad16f703.ba18b"]]},{"id":"3cbb087f.0a5fd8","type":"debug","z":"c201f6c2.f0de18","name":"Test 1","active":true,"console":"false","complete":"payload","x":590,"y":440,"wires":[]},{"id":"44574c2.f96da34","type":"debug","z":"c201f6c2.f0de18","name":"Test 2","active":true,"console":"false","complete":"payload","x":590,"y":540,"wires":[]},{"id":"ad16f703.ba18b","type":"debug","z":"c201f6c2.f0de18","name":"Test 3","active":true,"console":"false","complete":"payload","x":590,"y":640,"wires":[]},{"id":"47991379.098754","type":"inject","z":"c201f6c2.f0de18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":800,"wires":[["1b6a3129.bd5037"]]},{"id":"1b6a3129.bd5037","type":"function","z":"c201f6c2.f0de18","name":"test JSONata","func":"var jsonata = global.get('jsonata'); \n\nvar data = {\n  example: [\n    {value: 4},\n    {value: 7},\n    {value: 13}\n  ]\n};\n\nvar expression = jsonata(\"$sum(example.value)\");\nvar result = expression.evaluate(data);  // returns 24\n\nmsg.payload = result ;  // returns 24\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":800,"wires":[["3836767c.ab691a"]]},{"id":"3836767c.ab691a","type":"debug","z":"c201f6c2.f0de18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":800,"wires":[]},{"id":"b0d55e37.eda34","type":"change","z":"c201f6c2.f0de18","name":"Test JSONata","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload.value)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":880,"wires":[["369c322c.617efe"]]},{"id":"369c322c.617efe","type":"debug","z":"c201f6c2.f0de18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":880,"wires":[]},{"id":"59a9251b.38088c","type":"inject","z":"c201f6c2.f0de18","name":"","topic":"","payload":"[{\"value\":4},{\"value\":7},{\"value\":55}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":880,"wires":[["b0d55e37.eda34"]]}]